name: publish on github

on:
  push:
    branches:
      - main

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-bun@v1
        with:
          version: 0.7.0
          registry-url: https://npm.pkg.github.com/
          scope: "@wandersonsales-dev"
      - run: bun install
      - run: bun run test
      - run: bun run build
      - run: bun npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}